.left-ear {
  transform: rotate(80deg);
  transition: all .5s linear;
}

.right-ear {
  transform: rotate(100deg);
  transition: all .5s linear;
}

.smiley:hover .left-ear {
  animation: wiggle 3s linear;
}

.smiley:hover .right-ear {
  animation: wiggle 3s linear;
}

@keyframes wiggle {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(100deg);
  }

}
