.left-ear {
  transform: rotate(80deg);
  transition: all .5s linear;
}

.right-ear {
  transform: rotate(100deg);
  transition: all .5s linear;
}

#bear:hover #left-ear {
  animation: wiggle 3s linear;
}

#bear:hover #right-ear {
  animation: wiggle 3s linear;
}

#left-eye {
  animation: eye 3s linear;
}

#right-eye {
  animation: eye 3s linear;
}

@keyframes wiggle {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(50deg);
  }

}

@keyframes eye {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(10deg);
  }

}
